<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <!--<div class="ui  mini grey  vertical  left visible sidebar menu"> 
  <a class="item">
    <i class="id card icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
</div>
<div class="pusher"></div>-->
<div class="ui grey fixed inverted menu">
        <% if(name) {%>
            <div class="ui container">
                <a href="#" class="header item">
    <img class="user icon" src="<%=usericon%>">
  </a>
                <a href="/users/userinfo?name=<%=name%>" class="item">userinfo</a>
                <a href="/" class="item">index</a>
                <button href="/users/signout" class="ui teal button right header item">logout</button>
                <%}else{%>
                    <button href="/users/signin" class="ui teal button right header item">login</button>
                    <button href="/users/register" class="ui teal button right header item">register</button>
                    <%}%>
            </div>
    </div>
    <div class="ui internally celled grid ">
      <div class="four wide column"></div>
      <div class="eight wide column">
    <table class="ui very basic fixed collapsing celled table ">
      <tbody>
        <% for(i ; i < length ; i++){ %>
        <tr>
          <td style="width:100px">
            <h4 class="ui image header">
              <img src="#" class="ui mini rounded image">
              <div class="content">
              <div class="action"><a  href="/users/userinfo?name=<%=arr[i].name%>" style="font-size:15px"><%=arr[i].name%></a></div>
              </h4>
              </td>
              <td style="word-break: break-all">
              <div class="metadata">
                          <span class="date" style="font-size: 10px"><%=arr[i].created%></span>
              </div>
              <div class="sub header">
                <a  href="/users/detail?id=<%= arr[i].id %>" style="font-size:30px"><%=arr[i].title%></a>
             </div>
           
               <div style="font-size:20px" class="restrict"><%-arr[i].content%></div>
                        <% if(name==arr[i].name){ %>  
              <div class="actions">
                  <button href="/users/editQuestion?id=<%= arr[i].id %>" class="ui teal basic button">edit</button>
                  <button href="#" class="mini ui negative basic button">delete</button>
              </div>
          <%}%>
          </div>
          </td>
        </tr>

        <%}%> 
      </tbody>
      
    </table><a href="/users/addQuestion?category=<%= category %>">提問</a>
  </div>
  <div class="four wide column"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
    <script type="text/javascript">
      $(function(){
        var len = 250;
        $(".restrict").each(function(i){
            if($(this).text().length>len){
                $(this).attr("title",$(this).text());
                var text=$(this).text().substring(0,len-1)+"...";
                $(this).text(text);
            }
        });
      });
    </script>
  </body>
</html>