<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <!--<div class="ui  mini grey  vertical  left visible sidebar menu"> 
  <a class="item">
    <i class="id card icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
</div>
<div class="pusher"></div>-->
<div id="ji">
<div class="ui grey fixed inverted menu">
        <% if(name) {%>
            <div class="ui container">
                <a href="#" class="header item">
    <img class="user icon" src="<%=usericon%>">
  </a>
                <a href="/users/userinfo?name=<%=name%>" class="item">userinfo</a>
                <a href="/" class="item">index</a>
                <button href="/users/signout" class="ui teal button right header item">logout</button>
                <%}else{%>
                    <button href="/users/signin" class="ui teal button right header item">login</button>
                    <button href="/users/register" class="ui teal button right header item">register</button>
                    <%}%>
            </div>
    </div>
    
    <div class="ui internally celled grid ">
      <div class="four wide column"></div>
      <div class="eight wide column">
        
    <table class="ui very basic fixed collapsing celled table ">
      <tbody >
        <tr v-for="(content,index) in contents">
          <td style="width:100px">
              <img class="ui image" v-bind:src="content.icon" height="70px" width="80px">
              <div class="content"> 
              <div class="action"><a v-bind:href="'/users/userinfo?name='+content.name" style="font-size:15px">{{content.name}}</a></div>
          
              </td>
              <td style="word-break: break-all">
              <div class="metadata">
                          <span class="date" style="font-size: 10px">{{content.time}}</span>
              </div>
              <div class="sub header">
                <a  v-bind:href="'/users/detail?id='+content.id" style="font-size:30px">{{content.title}}</a>
             </div>
           
               <div style="font-size:20px" class="restrict" v-html="content.content"></div> 
                        <div v-if="<%=name%>==content.name">
              <div class="actions">
                  <button v-bind:href="'/users/editQuestion?id='+content.id" class="ui teal basic button">edit</button>
                  <button type="button" @click="removequestion(index,content.id)" class="mini ui negative basic button">delete</button>
              </div>
            </div>
        
          
          </td>
        </tr>

      </tbody>
      
    </table>
    <a href="/users/addQuestion?category=<%= category %>">提問</a>
  </div>
  
  </div>
  </div>
  <div class="four wide column"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
   <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
            <script type="text/javascript" src=/socket.io/socket.io.js></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
            <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
    <script type="text/javascript">
      var socket=io()
      socket.on("addquestion",function(name,title,content,time,id,icon){
        ab.newcontentid++;
        ab.contents.push({
          id:id,
          name:name,
          title:title,
          content:content,
          time:time,
          icon:icon
        })
      })
      socket.on("removequestion",function(index){
        return ab.contents.splice(index,1)
      })
      $(function(){
        var len = 250;
        $(".restrict").each(function(i){
            if($(this).text().length>len){
                $(this).attr("title",$(this).text());
                var text=$(this).text().substring(0,len-1)+"...";
                $(this).text(text);
            }
        });
      });
      var ab=new Vue({
        el:"#ji",
        data:{
          contents:[],
          newcontentid:0
        },
        methods:{
          init:function(_id,na,titl,content,time,icon){
              this.newcontentid++;
              this.contents.push({
                  id:_id,
                  name:na,
                  title:titl,
                  content:content,
                  time:time,
                  icon:icon
              })
          },
          removequestion:function(index,eid){
            console.log(eid)
            socket.emit("removequestion",index,eid)
          }
        }
      })
      <%for(i;i<length;i++){%>

ab.init("<%=arr[i].id%>","<%=arr[i].name%>","<%=arr[i].title%>","<%-arr[i].content.replace(/(?:\\[rn]|[\r\n]+)+/g, "");%>","<%=arr[i].created%>","<%=arr[i].icon%>")
        <%}%>
    </script>
  </body>
</html>