<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="ui grey fixed inverted menu">
        <% if(username) {%>
            <div class="ui container">
                <a href="#" class="header item">
    <img class="user icon" src="<%=icon%>">
  </a>
                <a href="/users/userinfo?name=<%=username%>" class="item">userinfo</a>
                <a href="/" class="item">index</a>
                <button href="/users/signout" class="ui teal button right header item">logout</button>
                <%}else{%>
                    <button href="/users/signin" class="ui teal button right header item">login</button>
                    <button href="/users/register" class="ui teal button right header item">register</button>
                    <%}%>
            </div>
    </div>
    <div class="ui internally celled grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
    <table class="ui very basic fixed collapsing celled table ">
      <tbody>
    <tr><td><a href="/">主頁</a></td></tr>
    <tr><td><p>用戶名稱：<%= username %></p></td></tr>
    <%if(passwd){%>
     <tr><td><p>用戶密碼：<%= passwd %></p></td></tr> 
     <%if(sessUsername == username){%>
      <tr><td><a href="/users/changePasswd">更改密碼</a></td></tr>
    <%}%>
    <%}%>
    <tr><td><img src="<%= icon %>" alt=""></td></tr>
    <tr><td><p>簡介：<%= brief %></p></td><td><a href="/users/editBrief">編輯簡介</a></td></tr>
    <%if(sessUsername == username){%>
      <form class="" action="/apis/editIcon" method="post" enctype="multipart/form-data">
        <tr><td><input type="file" name="upload" value=""></td></tr>
       <tr><td><input type="submit" name="" value="submit"></td></tr> 
      </form>
      
    <%}%>
    
    
    <% for(var i = 0 ; i < length ; i++){ %>
      <tr><td><p><a href="/users/detail?id=<%= arr[i].id %>"><%=arr[i].title%></a></p></td></tr>
    <% } %>
  </tbody>
</table>
</div>
</div>

  </body>
</html>
