<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>用戶名稱：<%= username %></p>
    <%if(passwd){%>
      <p>用戶密碼：<%= passwd %></p>
    <%}%>
    <img src="<%= icon %>" alt="">
    <p>簡介：<%= brief %></p>
    <%if(sessUsername == username){%>
      <form class="" action="/apis/editIcon" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" value="">
        <input type="submit" name="" value="submit">
      </form>
      <a href="/users/editBrief">編輯簡介</a>
    <%}%>
    <a href="/">主頁</a>
    <%if(sessUsername == username){%>
      <a href="/users/changePasswd">更改密碼</a>
    <%}%>
    <% for(var i = 0 ; i < length ; i++){ %>
      <div><a href="/users/userinfo?name=<%=arr[i].name%>"><%=arr[i].name%></a></div>
      <p><%=arr[i].title%></p>
      <%-arr[i].content%>
      <%if(sessUsername == arr[i].name){%>
        <a href="/users/editQuestion?id=<%= arr[i].id %>">編輯</a>
        <a href="#">刪除</a>
      <%}%>
    <% } %>
  </body>
</html>
