<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%= logined %></p>
    <p><%= lErro %></p>
    <p><%= lErroType %></p>
    <p><%= name %></p>
    <p><%= passwd %></p>
  </body>
</html>
